<!-- Header -->
    <nav class="">
        <div class="row text-center">
            <div class="col">
                <a class="navbar-brand" href="/"><img class="logo" src="/static/ruempel_clean/placeholder_logo.jpg"></a>

            </div>
            <div class="col align-self-center">
                    <span class="lead">PÜMPEL CLEAN</span>
                    {{ error }}

                    <a class="hotlink mx-2" href="#">
                        <i class="icon-facebook fa-3x fa-fw"></i>
                    </a>
                    <a class="hotlink mx-2" href="#">
                        <i class="icon-twitter fa-3x fa-fw"></i>
                    </a>
                    <a class="hotlink mx-2" href="#">
                        <i class="icon-instagram fa-3x fa-fw"></i>
                    </a>
            </div>
            <div class="col lead align-self-center">
                <h1 class="text-primary">
                    <i class="icon-phone mr-2 "></i>
                    0177-9899100
                </h1>

            </div>
        </div>
    </nav>