<!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="">
            <div class="row mx-0">
                <div class="col-lg-4">
                    <a class="hotlink" href="/#entruempelung">
                        <div class="features-icons-item mx-auto">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-trash m-auto text-primary"></i>
                            </div>
                            <h3>Entrümpelung</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="hotlink" href="/#haushaltsaufloesung">
                        <div class="features-icons-item mx-auto">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-home m-auto text-primary"></i>
                            </div>
                            <h3>Haushaltsauflösung</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="hotlink" href="/#betriebsaufloesung">
                        <div class="features-icons-item mx-auto">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-briefcase m-auto text-primary"></i>
                            </div>
                            <h3>Betriebsauflösung</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>