<!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Unsere Kunden sagen:</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/ruempel_clean/reviewer/Bart.png" alt="">
            <h5>Bart S.</h5>
            <p class="font-weight-light mb-0">"Eat my shorts!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/ruempel_clean/reviewer/Homer.png" alt="">
            <h5>HomerS.</h5>
            <p class="font-weight-light mb-0">"Doh!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/ruempel_clean/reviewer/Marge.png" alt="">
            <h5>Marge S.</h5>
            <p class="font-weight-light mb-0">"Mhhhmmhhm"</p>
          </div>
        </div>
      </div>
    </div>
  </section>